<table>
    <tr>
        <th>id</th>
        <th>Name</th>
        <th>Due Date</th>
    </tr>
    
    {% for point in data %}
        <tr>
            <td>{{ point.getId() }}</td>
            <td>{{ point.getName() }}</td>
            <td>{{ point.getDueDate() | date('Y-m-d') }}</td>
        </tr>
    {% endfor %}
</table>
